<!doctype html>
<html>
    <header>
        <title>
            Finstagram
        </title>
    </header>
    <body>
        <h1>
            Finstagram
        </h1>
        <main role="main">
            <article class="post">
                <div class="user-info">
                    <img src="http://naserca.com/images/sharky_j.jpg" alt="sharky_j">
                    <h2>shark_j</h2>
                    <h3>15 minutes ago</h3>
                </div>
                 <a class="photo" href= "#">
                    <img src="http://naserca.com/images/shark.png" alt="post from sharky_j"
                 </a>
                <div class="actions">
                    0 likes
                    <span class="comment-count">0 comments</span>
                </div>
                <ul class="comments">
                    <li>
                        <p>
                            shark_J out for a long weekend
                        </p>
                    </li>
                </ul>
            </article>
        </main>
    </body>

</html>