<!doctype html>
<html>
    <header>
        <title>
            Finstagram
        </title>
    </header>
    <body>
        <h1>
            Finstagram
        </h1>
        <main role="main">
            <article>
                <div>
                    <img src="http://naserca.com/images/sharky_j.jpg" alt="sharky_j">
                    <h2>shark_j</h2>
                    <h3>15 minutes ago</h3>
                </div>
                <div>
                    0 likes
                    <span>0 comments</span>
                </div>
                <ul>
                    <li>
                        <p>
                            shark_J out for a long weekend
                        </p>
                    </li>
                </ul>
                <a href= "#">
                    <img src="http://naserca.com/images/shark.png" alt="post from sharky_j"
                </a>
            </article>
        </main>
    </body>

</html>